[submodule "code/libs/flint"]
	path = code/libs/flint
	url = https://github.com/flintlib/flint.git
[submodule "scripts/lattice-estimator"]
	path = scripts/lattice-estimator
	url = https://github.com/malb/lattice-estimator.git